.header-service {
	background: url('../../../images/cover4.jpg') no-repeat center;
	background-size: cover;
	height: 190px;
	font-family: 'Montserrat', sans-serif;
}

.content_service-detail {
	width: 100%;
	text-align: center;
}

.header-content {
	height: 100%;
	background: #141415b3;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	color: white;
}

.content-title {
	font-size: 50px;
}

/* content-parrafo-styles */

.content-service {
	padding-top: 35px;
	padding-bottom: 45px;
	margin: auto;
	width: 100%;
	max-width: 1140px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
}

.service_detail_content {
	margin: auto;
	width: 100%;
	max-width: 1200px;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	padding-top: 35px;
	padding-bottom: 40px;
}

.service_detail {
	width: 50%;
	text-align: left;
	line-height: 15px;
}
.service_detail ul {
	line-height: 35px;
	padding-left: 20px;
}

.service_detail ul li {
	font-size: 15px;
}

.service_detail-img {
	width: 50%;
}
.service_detail-img-slider {
	width: 50%;
	padding-left: 20px;
}

.service_detail-img-two {
	width: 50%;
	padding: 0 25px;
}
.service_detail-img-two img {
	width: 100%;
}

.service_detail-tabs {
	width: 50%;
}
.service_detail-tabs img {
	width: 100%;
}

.service_detail-img img {
	box-shadow: -20px 18px 1px #565656b0;
	max-width: 450px;
	width: 100%;
}
.service_detail-img-slider img {
	width: 100%;
	object-fit: cover;
	height: 450px;
}

.detail_request {
	border-top: 1px solid #9c9c9c;
	padding: 25px 0px;
	border-bottom: 1px solid #9c9c9c;
	margin-top: 8px;
	display: flex;
}

.detail_requestTwo {
	padding: 25px 0px;
	border-bottom: 1px solid #9c9c9c;
	margin-top: 8px;
}

.detail_request .whatsapp {
	color: #14b44f;
	/* border-radius: 21px; */
	border: 2px solid #14b44f;
	margin-bottom: 15px;
	text-decoration: none;
	padding: 5px 16px;
	margin: 0 11px;
	border-radius: 5px;
}

.detail_request .btn_email {
	color: #565656b0;
	/* border-radius: 21px; */
	border: 2px solid #565656b0;
	margin-bottom: 15px;
	text-decoration: none;
	padding: 5px 16px;
	margin: 0 11px;
	border-radius: 5px;
}
.detail_requestTwo .btn_call {
	color: #39373d;
	/* border-radius: 21px; */
	border: 2px solid #39373d;
	margin-bottom: 15px;
	text-decoration: none;
	padding: 5px 16px;
	margin: 0 11px;
	border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
	.service_detail_content {
		padding-top: 35px;
		padding-bottom: 40px;
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media only screen and (max-width: 1100px) {
	.service_detail-img img {
		box-shadow: 9px 10px 1px #565656b0;
	}
	.detail_request,
	.detail_requestTwo {
		font-size: 14px;
	}
	.detail_request .btn_email {
		margin: 0 3px;
	}
	.detail_request .whatsapp {
		margin: 0 3px;
	}
	.detail_requestTwo .btn_call {
		margin: 0 4px;
	}
}

@media only screen and (max-width: 910px) {
	.service_detail_content {
		display: flex;
		flex-direction: column-reverse;
	}
	.service_detail {
		width: 100%;
	}
	.service_detail-img {
		width: 100%;
		padding-bottom: 22px;
	}
	.service_detail-img-slider {
		width: 100%;
		padding-bottom: 22px;
	}

	.service_detail-tabs {
		width: 100%;
	}
	.service_detail-img-two {
		width: 100%;
	}

	.header-service {
		height: 155px;
	}

	.content-title {
		font-size: 40px;
	}
	.service_detail ul {
		line-height: initial;
	}
}

@media only screen and (max-width: 586px) {
	.content-link-request {
		padding-top: 22px;
	}
	.detail_request {
		flex-direction: column;
	}
	.header-service {
		height: 115px;
	}
	.content-title {
		font-size: 24px;
		padding: 0 5px;
	}

	.logo img {
		width: 160px;
		padding-left: 7px;
	}
	.service_detail-img-two {
		width: 100%;
		padding: 0;
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 576px) {
	.service_detail-img-slider img {
		height: 357px;
	}
}

@media only screen and (max-width: 480px) {
}
