.contact-content {
	margin: auto;
	max-width: 1200px;
	width: 100%;
	padding-top: 35px;
	padding-bottom: 45px;
}

.header-contact-1 {
	background: url('../../images/cover4.jpg') no-repeat center;
	background-size: cover;
	height: 190px;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 576px) {
	.header-contact-1 {
		height: 115px;
	}
}
