.projects_content {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

.content-one {
	width: 45%;
}
.contents_img {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	padding-bottom: 20px;
}

.contents_img img {
	width: 100%;
	border-radius: 6px;
	padding: 0 3px;
	object-fit: cover;
	height: 90px;
}

.project-und {
	display: flex;
	border: 1px solid gainsboro;
	border-radius: 7px;
	margin: 9px 0;
	box-shadow: 3px 4px 8px #00000036;
}

.img_firts {
	padding: 20px;
}
.img_firts img {
	width: 100%;
	border-radius: 7px;
}

.content-two {
	width: 55%;
	padding-top: 19px;
	padding-left: 13px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content-two p {
	font-size: 23px;
	font-weight: 700;
	color: #6f6f6f;
}

.content-two div {
	padding-left: 17px;
	line-height: 29px;
	padding-top: 14px;
}

.button_project {
	padding-bottom: 20px;
}
.button_project button {
	padding: 10px 19px;
	font-size: 21px;
	margin: 0 12px;
}

.button_project a:nth-child(2) button {
	border: 2px solid #14b44f;
	background: transparent;
	color: #14b44f;
	border-radius: 5px;
	cursor: pointer;
}
.button_project a:nth-child(1) button {
	border: 2px solid #2c2f3d;
	background: transparent;
	color: #2c2f3d;
	border-radius: 5px;
	cursor: pointer;
}
.button_project a:nth-child(3) button {
	border: 2px solid #112a9b;
	background: transparent;
	color: #112a9b;
	border-radius: 5px;
	cursor: pointer;
}

#content-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.column {
	width: 600px;
	padding: 10px;
}

#featured,
#featuredTwo,
#featuredThree,
#featuredFour,
#featuredFive,
#featuredSix {
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
	border: 2px solid rgb(134, 134, 134);
}

.thumbnail,
.thumbnailTwo,
.thumbnailThree,
.thumbnailFour,
.thumbnailFive,
.thumbnailSix {
	object-fit: cover;
	max-width: 25%;
	/* 	max-height: 100px; */
	cursor: pointer;
	opacity: 0.5;
	/* border: 2px solid rgb(153, 153, 153); */
}

.thumbnail-sl {
	cursor: pointer;
	opacity: 0.8;
}

.thumbnail-sl:hover {
	opacity: 1;
}

.thumbnail:hover {
	opacity: 1;
}
.thumbnailTwo:hover {
	opacity: 1;
}
.thumbnailThree:hover {
	opacity: 1;
}
.thumbnailFour:hover {
	opacity: 1;
}
.thumbnailFive:hover {
	opacity: 1;
}
.thumbnailSix:hover {
	opacity: 1;
}

.active {
	opacity: 1;
}

#slide-wrapper {
	max-width: 500px;
	display: flex;
	align-items: center;
}

#slider {
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.arrow {
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: 0.3s;
}

.arrow:hover {
	opacity: 0.5;
	width: 35px;
	height: 35px;
}

@media (max-width: 1200px) {
}
@media (max-width: 1070px) {
	.content-two p {
		font-size: 20px;
	}
	.button_project button {
		font-size: 16px;
	}
	.content-two div {
		padding-left: 0;
	}
}

@media (max-width: 960px) {
	.content-two ul li {
		margin-left: 20px;
	}

	.content-two p {
		font-size: 18px;
	}
	.button_project button {
		font-size: 14px;
		margin: 0 8px;
	}
}

@media (max-width: 768px) {
	.project-und {
		flex-direction: column;
	}

	.content-one,
	.content-two {
		width: 100%;
	}
	.content-two {
		width: 100%;
		padding: 0 25px;
	}
	#featured,
	#featuredTwo,
	#featuredThree,
	#featuredFour,
	#featuredFive,
	#featuredSix {
		max-width: 100%;
	}
	.thumbnail,
	.thumbnailTwo,
	.thumbnailThree,
	.thumbnailFour,
	.thumbnailFive,
	.thumbnailSix {
		max-width: 25%;
		max-height: 100px;
		border: 0;
	}
	.contents_img img {
		margin: 0;
	}
}

@media (max-width: 576px) {
	.button_project div {
		display: flex;
		justify-content: center;
		justify-content: space-between;
	}
	.button_project a {
		width: 33.3333%;
		padding: 0 5px;
	}
	.button_project button {
		margin: 0px;
		width: 100%;
		padding: 10px 10px;
	}
}

@media (max-width: 420px) {
	.content-two p {
		font-size: 16px;
	}
	.content-two div {
		padding-left: 0px;
		line-height: 22px;
	}
	.content-two ul li {
		font-size: 14px;
	}
	.content-two {
		padding: 0 15px;
	}
	.button_project button {
		padding: 10px 5px;
	}
}
@media (max-width: 365px) {
	.content-two {
		padding: 0 10px;
	}
	.button_project a {
		padding: 0 2px;
	}
	.button_project button {
		font-size: 12px;
	}
}
